{% extends 'base.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block body %}
<div class="container">

    <h1 class='text-center'>Avis :</h1>
        <div class="all">
            {% for avi in avis %}
                <div class="unique">
                
                    <p>Avis n°: {{ avi.id }}  {{ avi.dateP ? avi.dateP|date('d-m-Y') : '' }}</p>
                    <p>{{ nom }} {{prenom}}</p>
                    <p>{{ avi.note }}/5</p>
                    <p>{{ avi.texte }}</p>
                    
                        <a href="{{ path('app_avis_show', {'id': avi.id}) }}" class="btn btn-success">En savoir +</a>
                        {% if app.user %}
                            {% if app.user.id == idaut %}
                                <a href="{{ path('app_avis_edit', {'id': avi.id}) }}"class="btn btn-warning">Modifier</a>
                            {% endif %}
                        {% endif %}
            
                </div>
            {% else %}
                
                    Aucun avis
                
            {% endfor %}

        </div>
        
    {% if app.user %}
    <div class="text-center">
        <a href="{{ path('app_avis_new') }}" class="btn btn-info text-center">Laisser un avis +</a>
    </div>
    {% endif %}
</div>

    
{% endblock %}
