{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <h1> Mes avis :</h1>
    
    {# {{dump(avis)}} #}
    <div class="avis">
            {% for avi in avis %}
                <div class="avi">

                    Avis numéro {{ avi.id }}
                    Date de publication : {{ avi.dateP ? avi.dateP|date('d-m-Y') : '' }}
                    Note : {{ avi.note }}/5
                    Avis : {{ avi.texte }} 
                    <a href="{{ path('app_avis_show', {'id': avi.id}) }}"  class="btn btn-success">+</a>
                    <a href="{{ path('app_avis_edit', {'id': avi.id}) }}"  class="btn btn-warning">Modifier</a>
                </div>
            {% else %}
            
                    <p>no records found</p>
                
            {% endfor %}
        
        </div>
 
    <a href="{{ path('app_avis_index') }}">back to list</a>

    
{% endblock %}