{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
<div class="container">
    <h1>Avis</h1>

    <p>Avis n°: {{ avi.id }}  {{ avi.dateP ? avi.dateP|date('Y-m-d') : '' }}</p>
                    <p>{{ nom }} {{prenom}}</p>
                    <div class="stars">
                        {% for i in range(1, avi.note) %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                    </div>                    
                    <p>{{ avi.texte }}</p>

    <a href="{{ path('app_avis_index') }}">Retour</a>

    {% if app.user %}
        {% if app.user.id == idaut %}
            <a href="{{ path('app_avis_edit', {'id': avi.id}) }}"class="btn btn-warning">Modifier</a>
            {{ include('avis/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
</div>
{% endblock %}
