{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
<div class="container">

    <h1>Mon compte </h1>
    <h3>Mes informations : </h3>
    <table>
        <tbody>
            <tr>
                <th>Nom :</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prénom :</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Sexe :</th>
                <td>{{ utilisateur.sexe }}</td>
            </tr>
            <tr>
                <th>Email :</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Permis :</th>
                <td>{{ utilisateur.permis }}</td>
            </tr>
            <tr>
                <th>Date de naissance :</th>
                <td>{{ utilisateur.dof? utilisateur.dof|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Téléphone :</th>
                <td>{{ utilisateur.tel }}</td>
            </tr>
            <tr>
                <th>Adresse :</th>
                <td>{{ utilisateur.adresse }} {{ utilisateur.ville }} {{ utilisateur.cp }} 
                {% if utilisateur.pays == "France" %}
                    France
                {% else %}
                    Espagne
                {% endif %}
                
                </td>
            </tr>
            
        </tbody>

   
            {% if is_granted('ROLE_ADMIN') %}
             <tr>    
                     <th>Role  </th>
                     <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }} </td>
            </tr>
            {% endif %}
        
    </table>

    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}"><button type="button" class="btn btn-outline-warning">Modifier mes informations</button></a>
    {{ include('utilisateur/_delete_form.html.twig') }}
    <a href="{{ path('app_mes_reservations') }}"><button type="button" class="btn btn-info">Accéder à mes réservations</button></a>
    <a href="{{ path('app_mes_avis') }}"><button type="button" class="btn btn-info">Accéder à mes avis</button></a>
</div>
{% endblock %}
