{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Mon compte </h1>
    <h2>Mes informations : </h2>

    {{ utilisateur.nom }} {{ utilisateur.prenom }}
                {{ utilisateur.sexe }}
            {{ utilisateur.email }} 
             
             
                 Permis 
                 {{ utilisateur.permis }} 
             
              
                 Dof 
                 {{ utilisateur.dof ? utilisateur.dof|date('Y-m-d') : '' }} 
             
             
                 Sexe 
                 {{ utilisateur.sexe }} 
             
             
                 Tel 
                 {{ utilisateur.tel }} 
             
             
                 Adresse 
                 {{ utilisateur.adresse }} 
             
             
                 Ville 
                 {{ utilisateur.ville }} 
             
             
                 Cp 
                 {{ utilisateur.cp }} 
             
             
                 Pays 
                 {{ utilisateur.pays ? utilisateur.pays|json_encode : '' }} 
             
            {% if is_granted('ROLE_ADMIN') %}
                 
                     Role  
                     {{ utilisateur.roles ? utilisateur.roles|json_encode : '' }} 
                 
            {% endif %}
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}"><button type="button" class="btn btn-outline-warning">Modifier mes informations</button></a>
    {{ include('utilisateur/_delete_form.html.twig') }}
    <a href="{{ path('app_mes_reservations') }}"><button type="button" class="btn btn-info">Accéder à mes réservations</button></a>
    <a href="{{ path('app_mes_avis') }}"><button type="button" class="btn btn-info">Accéder à mes avis</button></a>

{% endblock %}
