<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ ('../css/nav.css') }}">
        <link rel="stylesheet" href="{{ ('../css/catalogue.css') }}">
        <link rel="stylesheet" href="{{ ('../css/login.css') }}">
        <link rel="stylesheet" href="{{ ('../css/inscription.css') }}">
        <link rel="stylesheet" href="{{ ('../css/accueil.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav>
            
            <a class="logo" href= >LoVo</a>
            <ul>  
                <li> <a href={{path('app_voiture_index')}}>Catalogue</a></li>
                {% if app.user %}
                    {% if is_granted('ROLE_CLIENT') %}
                            <li> <a href={{path('app_utilisateur_index')}}>Liste clients</a></li>
                            <li> <a href={{path('app_type_index')}}>Liste types</a></li>
                            <li> <a href={{path('app_reservation_index')}}>Liste réservations</a></li>
                    {% endif %}
                    <li> <a href={{path('app_utilisateur_compte', {'id': app.user.id})}}>Mon compte</a></li>
                    <li> <a href={{path('app_logout')}}>Se déconnecter</a></li>
                {% else %}
                    <li > <a href={{path('app_login')}}>Se connecter</a></li>
                    <li> <a href={{path('app_utilisateur_new')}}>S'inscrire</a></li>
                {% endif %}
            </ul>
        </nav>

            {% block body %}{% endblock %}

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>Company</h4>
                        <ul>
                            <li> 
                                Adresse
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Follow Us</h4>
                        <div class="social-links">
                                <a href="#"><i class="bi bi-facebook"></i></a>
                                <a href="#"><i class="bi bi-instagram"></i></a>
                                <a href="#"><i class="bi bi-youtube"></i></a>
                        </div>
                    </div>
                    <div class="footer-col">
                        <h4>Get help</h4>
                        <ul>
                            <li> 
                                <a href="#">FAQ </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </footer>
    </body>
</html>
