{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block body %}
    <h1>Voiture</h1>
        {# {{ include('reservation/form_date.html.twig') }} #}

    <table class="table">
    
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voiture.id }}</td>
            </tr>
            <tr>
                <th>Immat</th>
                <td>{{ voiture.immat }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ voiture.prix }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ voiture.couleur }}</td>
            </tr>
            <tr>
                <th>Photo1</th>
                <td><img src={{asset('IMAGES/'~ voiture.photo1)}} alt="photo1" width="100px"></td>
            </tr>
            <tr>
                <th>Photo2</th>
                <td><img src={{asset('IMAGES/'~ voiture.photo2)}} alt="photo2" width="100px"></td>
            </tr>
            <tr>
                <th>Photo3</th>
                <td><img src={{asset('IMAGES/'~ voiture.photo3)}} alt="photo3" width="100px"></td>

            </tr>
        </tbody>
    </table>
    <form action="{{ path('app_reservation_new') }}" method="get">
        <label for="datedebut">Du :</label>
        <input type="date" name="datedebut" id="datedebut">
        <label for="datefin">Au :</label>
        <input type="date" name="datef" id="datefin">
        <input type="hidden" value="{{voiture.id}}" name="idv">
        <input type="hidden" value="{{voiture.prix}}" name="prixv">
        <input type="submit" value="Réserver">
    </form>

    <a href="{{ path('app_voiture_index') }}">Retour au catalogue</a>
    {# <a href="{{ path('app_reservation_new', {'idv':  voiture.id } ) }}">Réserver</a> #}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_voiture_edit', {'id': voiture.id}) }}">edit</a> 
        {{ include('voiture/_delete_form.html.twig') }}
    {% endif %}



   
{% endblock %}
