{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block body %}
        {# {{ include('reservation/form_date.html.twig') }} #}
<div class="container">

    <div class="page">
    {% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
        <div class="show-slide">
                <div class="slide">
                    <img src={{asset('IMAGES/'~ voiture.photo1)}} id="slide-1" alt="photo1" width="200px">
                    <img src={{asset('IMAGES/'~ voiture.photo2)}} id="slide-1" alt="photo2" width="200px">
                    <img src={{asset('IMAGES/'~ voiture.photo3)}} id="slide-1" alt="photo3" width="200px">
                </div>
                <div class="slide-nav">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                </div>
            </div>
        </div>
        {# {{type.id}} #}
        {# {{type.marque}}
        {{type.model}} #}
        {# {{dump(type)}} #}
        {{ voiture.id }}
        {{ voiture.immat }}
        {{ voiture.prix }}
        {{ voiture.couleur }}
        {{modele}}
        {{marque}}
        {{puissance}}
        {{carburant}}
        {{bv}}
        {{categorie}}

        

    <form action="{{ path('app_reservation_new') }}" method="get">
        <label for="datedebut">Du :</label>
        <input type="date" name="datedebut" id="datedebut" required>
        <label for="datefin">Au :</label>
        <input type="date" name="datef" id="datefin" required>
        <input type="hidden" value="{{voiture.id}}" name="idv">
        <input type="hidden" value="{{voiture.prix}}" name="prixv">
        <input type="submit" value="Rechercher">
    </form>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_voiture_edit', {'id': voiture.id}) }}">Modifier</a> 
        {{ include('voiture/_delete_form.html.twig') }}
    {% endif %}

</div>

   
{% endblock %}
